<!--Rending the carting page-->
<div class="cart-container" *ngIf="total === 0">
  <div class="cart-item">
    <app-cart-item
      *ngFor="let product of products"
      [product]="product"
      (removeProduct)="removeItem(product)"
    ></app-cart-item>
  </div>

  <!--Rending the submit form only if there is a product in the cart(getTotal() > 0)-->
  <div class="form" *ngIf="getTotal() > 0">
    <form #form="ngForm" (ngSubmit)="addForm()">
      <label>Full name</label>
      <br />
      <input
        type="text"
        name="fullname"
        required
        minlength="3"
        placeholder="(minimum 3 characters)"
        [(ngModel)]="name"
        #username="ngModel"
        (ngModelChange)="changeUsername(name)"
      />
      <br />
      <label>Address</label>
      <br />
      <input
        type="text"
        name="address"
        required
        minlength="6"
        placeholder="(minimum 6 characters)"
        [(ngModel)]="address"
        #useraddress="ngModel"
        (ngModelChange)="changeAddress(address)"
      />
      <br />
      <label>Credit card number</label>
      <br />
      <input
        type="string"
        name="cardnumber"
        required
        maxlength="16"
        minlength="16"
        pattern="^[0-9]{16,}$"
        placeholder="(16-digit number)"
        #usercard="ngModel"
        [(ngModel)]="creditCard"
        (ngModelChange)="changeCreditCard(creditCard)"
      />
      <br />
      <br />
      <p>We'll never share your payment details with anyone else</p>
      <button class="btn" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
    <div *ngIf="username.invalid && username.dirty" style="color: red">
      <div *ngIf="username.errors?.required">Please enter your full name</div>
      <div *ngIf="username.errors?.minlength">
        Full name must be at least 3 characters
      </div>
    </div>
    <div *ngIf="useraddress.invalid && useraddress.dirty" style="color: red">
      <div *ngIf="useraddress.errors?.required">Please enter your address</div>
      <div *ngIf="useraddress.errors?.minlength">
        address must be at least 6 characters
      </div>
    </div>
    <div
      *ngIf="usercard.invalid && (usercard.dirty || usercard.touched)"
      style="color: red"
    >
      <div *ngIf="usercard.errors?.required">
        Please enter your credit card number
      </div>
      <div
        *ngIf="
          usercard.errors?.minlength && (usercard.dirty || usercard.touched)
        "
      >
        credit card must be a number with exactly 16 digits
      </div>
    </div>
  </div>
</div>
<p class="total" *ngIf="getTotal() > 0 && products.length > 0">
  Total: ${{ getTotal() }}
</p>
<!--Render the confirmation page after submitting the form-->
<div *ngIf="name !== '' && total !== 0">
  <app-confirmation [name]="name" [total]="total"></app-confirmation>
</div>
<!--Message to print if there is no product in the cart-->
<p class="message" *ngIf="getTotal() === 0 && name === ''">
  Please go purchase some products first!
</p>
