.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-header {
  color: #33e5bc;
}

.confirmation-item {
  margin-bottom: 30px;
}

.info {
  font-weight: bolder;
}

.btn {
  background-color: #0d78f1;
  font-size: 1.3em;
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px;
}

.btn:hover {
  box-shadow: 3px 3px 3px #0d78f1;
}
